/* Reset dasar untuk body */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Container utama */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
}

/* Content untuk hasil prediksi */
.content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    width: 100%;
}

/* Judul */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007BFF;
}

h1.judul {
    margin-top: 30px;
}

h1.Ras {
    margin-top: 5px;
}

/* Deskripsi */
p {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: justify;
    color: #555;
}

/* Gambar */
img {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .content, .image {
        max-width: 100%;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }
}